/*html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}

body{
	background-color: #f8f9fa;
}

.navi {
	background-color: #ffffff;
}

.cards {
	border-color: transparent;
}

.landing-page{
	height: 80vh;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	color: #ffffff;
}

.landing {
	height: 95vh;
	background-image: url("/images/bg1.jpg");
	background-position: center bottom;
  	background-repeat: no-repeat;
  	background-size: cover;
  	opacity: 0.9
}

#name {
	font-family: 'Homemade Apple', serif;
	font-size: 60px;
}

.brand {
	font-family: 'Homemade Apple', serif;
}


#subtitle {
	font-family: sans-serif;
}

.about-card {
	border-color: transparent;
}


#about-page {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-image {
	border-radius: 15rem;
}

ol {
	columns: 3;
	-webkit-columns: 3;
  	-moz-columns: 3;
}

#title {
	font-size: 50px;
}

#projects-page {
	height: 85vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

}

#contact-page {
	height: 95vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.fa-external-link-alt {
	color: #293241;
}

.btn {
	border-color: transparent;
}

.btn:hover {
	border-color: transparent;
}

.card-link {
	color: #0d1b2a;
}

.card-link:hover {
	color: #415a77
}


@media screen and (max-width: 768px) {
	#name {
		font-size: 39px;
		text-align: center;
	}

	.landing-page {
		color: #dedbd2;
	}

	#subtitle {
		text-align: center;
	}

	ol {
		columns: 2;
		-webkit-columns: 2;
  		-moz-columns: 2;
	}

	#title {
		font-size: 20px;
	}

	.projects-container {
		padding-top: 100px;
	}
}


@media screen and (max-width: 375px) {
	.projects-container {
		padding-top: 260px;
	}
}

@media screen and (max-width: 425px) {
	.projects-container {
		padding-top: 270px;
	}
}